@page "/placement-newemployees"
@inject SweetAlertService Swal;
@using HRMSv4.Client.Shared.Modals;
@using HRMSv4.Shared.Misc
@inject IPlacement service
@using DevExpress.Blazor

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <h3>
                New Employees
            </h3>
        </div>
        <div class="page-title-actions">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New Employees</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="row">
            <div class="mb-3 col-xl-2 col-sm-12">
                <div class="row">
                    <label class="" for="exampleEmail55">Status: </label>
                    <DxComboBox CssClass="float-end w-150" Data="@filters" Value="selectedType" SizeMode="SizeMode.Medium"
                                ValueChanged="@((string fil) => Filter(fil))" />
                </div>

            </div>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="col-12 mt-2">
            <h5 class="card-header-text float-start">New Employees</h5>
        </div>
    </div>
    <div class="card-body">
        <DxGrid Data="@Employees" PageSize="10"
                ShowFilterRow="true"
                PagerPosition="GridPagerPosition.Bottom"
                PageSizeSelectorVisible="true"
                PageSizeSelectorItems="@(new int[] { 5, 10, 20, 100 })"
                PageSizeSelectorAllRowsItemVisible="true"
                PagerSwitchToInputBoxButtonCount="10"
                PagerVisibleNumericButtonCount="10">

            <Columns>
                <DxGridDataColumn FieldName="Status" />
                <DxGridDataColumn FieldName="ImageName" Caption="Image" Width="90px">
                    <CellDisplayTemplate>
                        @{
                            var temp = (context.DataItem as PamNewEmployeeListView);
                        }
                        @if (!string.IsNullOrWhiteSpace(temp.ImageName))
                        {
                            if (temp.ImageName == "default-avatar-grey.png")
                            {
                                <div class="avatar-icon-wrapper mb-3 avatar-icon-xl">
                                    <div class="avatar-icon">
                                        <img src="images/avatars/default-avatar-grey.png">
                                    </div>
                                </div>
                            }
                            else
                            {

                                <a href="javascript:void(0);" @onclick="@(e => ShowImage("Uploads/Employees/Avatar/" + temp.ApplicantId + "/" + temp.ImageName))">
                                    <div class="avatar-icon-wrapper mb-3 avatar-icon-xl">
                                        <div class="avatar-icon">
                                            <img src="Uploads/Employees/Avatar/@temp.ImageName">
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                        else
                        {
                            <div class="avatar-icon-wrapper mb-3 avatar-icon-xl">
                                <div class="avatar-icon">
                                    <img src="images/avatars/default-avatar-grey.png">
                                </div>
                            </div>
                        }
                    </CellDisplayTemplate>
                </DxGridDataColumn>
                <DxGridDataColumn FieldName="FullName" Caption="Full Name"/>
                <DxGridDataColumn FieldName="Position"/>
                <DxGridDataColumn FieldName="AuthorizedSalary"/>
                <DxGridDataColumn FieldName="EmploymentStatus" />
                @*<DxGridDataColumn FieldName="OrganizationalLevel" />*@
                <DxGridDataColumn FieldName="EffectivityDate" />
               @* <DxGridDataColumn FieldName="Encoder" />*@
                <DxGridDataColumn FieldName="DateEncoded" />
                <DxGridDataColumn FieldName="ApprovedDeclined" Caption="Approved/Declined By" />
                <DxGridDataColumn FieldName="" Caption="Action" AllowSort="false" Width="90px" MinWidth="100" TextAlignment="GridTextAlignment.Center">
                    <CellDisplayTemplate>
                        @{
                            var temp = (context.DataItem as PamNewEmployeeListView);
                        }

                        @if(temp.Status == "Pending")
                        {
                            <button class="border-0 btn-transition btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Approve" @onclick="@(asd => Approve(temp))">
                                <i class="fa fa-check"></i>
                            </button>
                            <button class="border-0 btn-transition btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Disapprove" @onclick="@(asd => Disapprove(temp))">
                                <i class="lnr-thumbs-down"></i>
                            </button>
                        }

                    
                    </CellDisplayTemplate>
                </DxGridDataColumn>
            </Columns>
        </DxGrid>
    </div>
</div>

@code {
    IEnumerable<HRMSv4.Shared.OnBoarding.PamNewEmployeeListView> newemployees;
    //RadzenDataGrid<HRMSv4.Shared.OnBoarding.PamNewEmployeeListView> neGrid;
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    List<string> filters = new List<string> { "All", "Pending", "Approved", "Disapproved" };
    string selectedType { get; set; } = "Pending";
    string userId = "";
    public string? apiURL { get; set; }

    object Employees { get; set; }
    GridDevExtremeDataSource<PamNewEmployeeListView> gridDevExtremeDataSource;

    protected override async Task OnInitializedAsync()
    {
        apiURL = AppInfo.ApiUrl;
        //newemployees = await service.GetNewEmployees("Pending");
        var user = (await _AutService.GetAuthenticationStateAsync()).User;
        userId = user.FindFirst(c => c.Type.Contains("nameidentifier"))?.Value;
        await UpdateDataAsync();
    }

    async Task UpdateDataAsync()
    {
        newemployees = await service.GetNewEmployees(selectedType);

        var tempList = newemployees.AsQueryable();

        gridDevExtremeDataSource = new GridDevExtremeDataSource<PamNewEmployeeListView>(tempList);
        gridDevExtremeDataSource.CustomizeLoadOptions = (loadOptions) =>
        {
            // If underlying data is a large SQL table, specify PrimaryKey and PaginateViaPrimaryKey.
            // This can make SQL execution plans more efficient.
            loadOptions.PrimaryKey = new[] { "PersonnelActionMemoId" };
            loadOptions.PaginateViaPrimaryKey = true;

        };

        Employees = gridDevExtremeDataSource;


        //SelectedDataItem = subjListView.FirstOrDefault();
        //OnSelectChanged();

        StateHasChanged();
    }

    async Task Filter(string value)
    {

        string a = value;
       
        if (value == "All") a = "All";

        selectedType = a;

        await UpdateDataAsync();
        //newemployees = await service.GetNewEmployees(a);
        //await neGrid.Reload();
        this.StateHasChanged();
    }

    async void ShowImage(string img)
    {
        await _Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Employee Capture Image",
                ImageUrl = img,
                ImageHeight = 600,
                ImageWidth = 400
            });
    }

    async void Approve(PamNewEmployeeListView pam)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Are you sure?",
                Text = "You are about to approve this applicant.",
                Icon = "question",
                ShowCancelButton = true,
                ConfirmButtonText = "Yes",
                CancelButtonText = "Cancel",
                CancelButtonColor = "#dc3741"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(ApproveNewEmployeeModal.pamId), pam.PersonnelActionMemoId);
            var _modalStatus = Modal.Show<ApproveNewEmployeeModal>("New Employee", parameters);
            var modalResult = await _modalStatus.Result;

            if (modalResult.Cancelled == false)
            {
                await UpdateDataAsync();
                this.StateHasChanged();
            }
        }
        else
        {

        }
    }

    async void Disapprove(PamNewEmployeeListView pam)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Are you sure?",
                Text = "You are about to disapprove this applicant.",
                Icon = "question",
                ShowCancelButton = true,
                ConfirmButtonText = "Yes, I am sure.",
                CancelButtonText = "Cancel",
                CancelButtonColor = "#dc3741"

            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            var res = await service.DisapproveNewEmployee(pam.PersonnelActionMemoId);

            if (res.StatusCode == 200)
            {

                SweetAlertResult result1 = await Swal.FireAsync(new SweetAlertOptions
                    {
                        Title = "Success",
                        Text = "You have successfully disapprove an applicant.",
                        Icon = "success",
                        ShowCancelButton = false,
                        ConfirmButtonText = "Ok",
                    });
                if (!string.IsNullOrEmpty(result.Value))
                {
                    await UpdateDataAsync();
                    this.StateHasChanged();

                    ModalInstance.CloseAsync();
                }
            }
            else
            {
                await Swal.FireAsync("Oops...", "Unable to disapprove this record!", "error");
            }
        }
        else
        {

        }
    }
}
