@page "/placement-reelection";
@inject IPlacement service
@inject SweetAlertService Swal;
@using DevExpress.Blazor

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <h3>
               Re-election
            </h3>
        </div>
        <div class="page-title-actions">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Re-election</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="row">
           <div class="mb-3 col-xl-2 col-sm-12">
                <div class="row">
                    <label class="" for="exampleEmail55">Status: </label>
                    <DxComboBox CssClass="float-end w-150" Data="@filters" Value="selectedType" SizeMode="SizeMode.Medium"
                                ValueChanged="@((string fil) => Filter(fil))" />
                </div>
            </div>
        </div>

    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="col-12 mt-2">
            <h5 class="card-header-text float-start">Re-Election</h5>

        </div>
    </div>
     <div class="card-body">
        <DxGrid Data="@Employees" PageSize="10"
                ShowFilterRow="true"
                PagerPosition="GridPagerPosition.Bottom"
                PageSizeSelectorVisible="true"
                PageSizeSelectorItems="@(new int[] { 5, 10, 20, 100 })"
                PageSizeSelectorAllRowsItemVisible="true"
                PagerSwitchToInputBoxButtonCount="10"
                PagerVisibleNumericButtonCount="10">

            <Columns>
                <DxGridDataColumn FieldName="Status" />
                <DxGridDataColumn FieldName="ImageName" Caption="Image" Width="90px">
                    <CellDisplayTemplate>
                        @{
                            var temp = (context.DataItem as ReElectionListView);
                        }
                        @if (!string.IsNullOrWhiteSpace(temp.ImageName))
                        {
                            if (temp.ImageName == "default-avatar-grey.png")
                            {
                                <div class="avatar-icon-wrapper mb-3 avatar-icon-xl">
                                    <div class="avatar-icon">
                                        <img src="images/avatars/default-avatar-grey.png">
                                    </div>
                                </div>
                            }
                            else
                            {

                                <a href="javascript:void(0);" @onclick="@(e => ShowImage("Uploads/Employees/Avatar/" + temp.EmployeeId + "/" + temp.ImageName))">
                                    <div class="avatar-icon-wrapper mb-3 avatar-icon-xl">
                                        <div class="avatar-icon">
                                            <img src="Uploads/Employees/Avatar/@temp.EmployeeId/@temp.ImageName">
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                        else
                        {
                            <div class="avatar-icon-wrapper mb-3 avatar-icon-xl">
                                <div class="avatar-icon">
                                    <img src="images/avatars/default-avatar-grey.png">
                                </div>
                            </div>
                        }
                    </CellDisplayTemplate>
                </DxGridDataColumn>
                <DxGridDataColumn FieldName="FullName" Caption="Full Name"/>
                <DxGridDataColumn FieldName="Position"/>
                <DxGridDataColumn FieldName="AuthorizedSalary"/>
                <DxGridDataColumn FieldName="EmploymentStatus" />
                <DxGridDataColumn FieldName="NewOrganizationalLevel" />
                <DxGridDataColumn FieldName="EffectivityDate" />
                <DxGridDataColumn FieldName="ApprovedDeclined" Caption="Approved/Declined By" />
                <DxGridDataColumn FieldName="" Caption="Action" AllowSort="false" Width="90px" MinWidth="100" TextAlignment="GridTextAlignment.Center">
                    <CellDisplayTemplate>
                        @{
                            var temp = (context.DataItem as ReElectionListView);
                        }
                       <button class="border-0 btn-transition btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Approve" @onclick="@(asd => Approve(temp))">
                            <i class="fa fa-check"></i>
                        </button>
                        <button class="border-0 btn-transition btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Disapprove" @onclick="@(asd => Disapprove(temp))">
                            <i class="lnr-thumbs-down"></i>
                        </button>
                    </CellDisplayTemplate>
                </DxGridDataColumn>
            </Columns>
        </DxGrid>
    </div>
  @*<RadzenDataGrid Responsive=true @ref="electGrid" AllowFiltering="true" AllowPaging="true" PageSize="20" AllowSorting="true"
                    Data="@reelectionEmpList" TItem="HRMSv4.Shared.OnBoarding.ReElectionListView" SelectionMode="DataGridSelectionMode.Single"
                    PagerAlwaysVisible="true" ShowPagingSummary="true" PagerHorizontalAlign="HorizontalAlign.Center"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.SimpleWithMenu"
                    RowSelect=@SelectedEmployee ColumnWidth="300px">
        <Columns>
            <RadzenDataGridColumn TItem="ReElectionListView" Property="Status" Title="Status" Frozen="true" Width="80px" />
            <RadzenDataGridColumn TItem="ReElectionListView" Title="Photo" Frozen="true" Sortable="false" Filterable="false" Width="60px">
                <Template Context="employee">
                    @if (string.IsNullOrWhiteSpace(employee.ImageName))
                    {
                        <RadzenImage Path="/MainLayout/images/avatars/default-avatar.png" style="width: 40px; height: 40px; border-radius: 8px;" />
                    }
                    else
                    {
                        <RadzenImage Path=@(@apiURL + "Uploads/Employees/Avatar/" + employee.EmployeeId + "/" + employee.ImageName) style="width: 40px; height: 40px; border-radius: 8px;" />
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ReElectionListView" Property="FullName" Title="Full Name" Width="140px" />
            <RadzenDataGridColumn TItem="ReElectionListView" Property="NewPosition" Title="Position" Width="140px" />
            <RadzenDataGridColumn TItem="ReElectionListView" Property="AuthorizedSalary" Title="Authorized Salary" Width="140px" />
            <RadzenDataGridColumn TItem="ReElectionListView" Property="EmploymentStatus" Title="Employment Status" Width="140px" />
            <RadzenDataGridColumn TItem="ReElectionListView" Property="NewOrganizationalLevel" Title="Organizational Level" Width="140px" />
            <RadzenDataGridColumn TItem="ReElectionListView" Property="EffectivityDate" Title="Effectivity Date" Frozen="true" Width="140px" />
            
            <RadzenDataGridColumn TItem="ReElectionListView" Property="ApprovedDeclined" Title="Approved/Declined By" Width="140px" />
            <!-- Action Buttons -->
            <RadzenDataGridColumn TItem="ReElectionListView" Context="category" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="80px">
                <Template Context="pam">
                     @if (pam.Status != "Approved" && pam.Status != "Disapproved")
                    {
                        <button class="border-0 btn-transition btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Approve" @onclick="@(asd => Approve(pam))">
                            <i class="fa fa-check"></i>
                        </button>
                        <button class="border-0 btn-transition btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Disapprove" @onclick="@(asd => Disapprove(pam))">
                            <i class="lnr-thumbs-down"></i>
                        </button>
                    }

                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>*@
</div>
@code {
    IEnumerable<HRMSv4.Shared.OnBoarding.ReElectionListView> reelectionEmpList;
    RadzenDataGrid<HRMSv4.Shared.OnBoarding.ReElectionListView> electGrid;
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    public string? apiURL { get; set; }

    List<string> filters = new List<string> { "All", "Pending", "Approved", "Disapproved" };
    string selectedType { get; set; } = "Pending";
    string userId = "";
    object Employees { get; set; }
    GridDevExtremeDataSource<ReElectionListView> gridDevExtremeDataSource;

    protected override async Task OnInitializedAsync()
    {
        apiURL = AppInfo.ApiUrl;
        //reelectionEmpList = await service.GetReelectionEmployeesAll("Pending");
        var user = (await _AutService.GetAuthenticationStateAsync()).User;
        userId = user.FindFirst(c => c.Type.Contains("nameidentifier"))?.Value;
        await UpdateDataAsync();
    }

    async Task UpdateDataAsync()
    {
        reelectionEmpList = await service.GetReelectionEmployeesAll("Pending");

        var tempList = reelectionEmpList.AsQueryable();

        gridDevExtremeDataSource = new GridDevExtremeDataSource<ReElectionListView>(tempList);
        gridDevExtremeDataSource.CustomizeLoadOptions = (loadOptions) =>
        {
            // If underlying data is a large SQL table, specify PrimaryKey and PaginateViaPrimaryKey.
            // This can make SQL execution plans more efficient.
            loadOptions.PrimaryKey = new[] { "PersonnelActionMemoId" };
            loadOptions.PaginateViaPrimaryKey = true;

        };

        Employees = gridDevExtremeDataSource;


        //SelectedDataItem = subjListView.FirstOrDefault();
        //OnSelectChanged();

        StateHasChanged();
    }

    async void ShowImage(string img)
    {
        await _Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Employee Capture Image",
                ImageUrl = img,
                ImageHeight = 600,
                ImageWidth = 400
            });
    }

    async Task SelectedEmployee(ReElectionListView selectedRow)
    {

    }
    async Task Filter(string e)
    {
        string a = e;
        selectedType = a;
        await UpdateDataAsync();
        this.StateHasChanged();
    }

    async void Approve(ReElectionListView pam)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Are you sure?",
                Text = "You are about to approve this re-election.",
                Icon = "question",
                ShowCancelButton = true,
                ConfirmButtonText = "Yes",
                CancelButtonText = "Cancel",
                CancelButtonColor = "#dc3741"

            });

        if (!string.IsNullOrEmpty(result.Value))
        {
             var parameters = new ModalParameters();
            parameters.Add(nameof(ApproveReelectionEmployee.pamId), pam.PersonnelActionMemoId);
            parameters.Add(nameof(ApproveReelectionEmployee.orgLevelId), pam.OrganizationalLevelId);
            var _modalStatus = Modal.Show<ApproveReelectionEmployee>("Re-Election", parameters);
            var modalResult = await _modalStatus.Result;
            if (modalResult.Cancelled == false)
            {
                await UpdateDataAsync();
                this.StateHasChanged();
            }
        }
    }

    async void Disapprove(ReElectionListView pam)
    {

        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Are you sure?",
                Text = "You are about to disapprove this re-election.",
                Icon = "question",
                ShowCancelButton = true,
                ConfirmButtonText = "Yes",
                CancelButtonText = "Cancel",
                CancelButtonColor = "#dc3741"

            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            var user = (await _AutService.GetAuthenticationStateAsync()).User;
            var userId = user.FindFirst(c => c.Type.Contains("nameidentifier"))?.Value;

             var res = await service.Disapprove(pam.PersonnelActionMemoId, userId);

            if (res.StatusCode == 200)
            {

                SweetAlertResult result1 = await Swal.FireAsync(new SweetAlertOptions
                    {
                        Title = "Success",
                        Text = "You have successfully disapprove a re-election.",
                        Icon = "success",
                        ShowCancelButton = true,
                        ConfirmButtonText = "Ok",
                    });
                if (!string.IsNullOrEmpty(result.Value))
                {
                    await UpdateDataAsync();
                    this.StateHasChanged();

                    //ModalInstance.CloseAsync();
                }
            }
            else
            {
                await Swal.FireAsync("Oops...", "Unable to disapprove this record!", "error");
            }
        }
        else
        {

        }
    }
}
