@page "/placement-reemployment";
@using DevExpress.Blazor

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <h3>
               Re-employments
            </h3>
        </div>
        <div class="page-title-actions">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Re-employments</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="row">
          <div class="mb-3 col-xl-2 col-sm-12">
                <div class="row">
                    <label class="" for="exampleEmail55">Status: </label>
                    <DxComboBox CssClass="float-end w-150" Data="@filters" Value="selectedType" SizeMode="SizeMode.Medium"
                                ValueChanged="@((string fil) => Filter(fil))" />
                </div>

            </div>
        </div>

    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="col-12 mt-2">
            <h5 class="card-header-text float-start">Reemployment</h5>

        </div>
        
    </div>
    <div class="card-body">
            <DxGrid Data="@Employees" PageSize="10"
                    ShowFilterRow="true"
                    PagerPosition="GridPagerPosition.Bottom"
                    PageSizeSelectorVisible="true"
                    PageSizeSelectorItems="@(new int[] { 5, 10, 20, 100 })"
                    PageSizeSelectorAllRowsItemVisible="true"
                    PagerSwitchToInputBoxButtonCount="10"
                    PagerVisibleNumericButtonCount="10">

                <Columns>
                    <DxGridDataColumn FieldName="Status" />
                    <DxGridDataColumn FieldName="ImageName" Caption="Image" Width="90px">
                        <CellDisplayTemplate>
                            @{
                                var temp = (context.DataItem as ReemploymentListView);
                            }
                            @if (!string.IsNullOrWhiteSpace(temp.ImageName))
                            {
                                if (temp.ImageName == "default-avatar-grey.png")
                                {
                                    <div class="avatar-icon-wrapper mb-3 avatar-icon-xl">
                                        <div class="avatar-icon">
                                            <img src="images/avatars/default-avatar-grey.png">
                                        </div>
                                    </div>
                                }
                                else
                                {

                                    <a href="javascript:void(0);" @onclick="@(e => ShowImage("Uploads/Employees/Avatar/" + temp.EmployeeId + "/" + temp.ImageName))">
                                        <div class="avatar-icon-wrapper mb-3 avatar-icon-xl">
                                            <div class="avatar-icon">
                                            <img src="Uploads/Employees/Avatar/@temp.EmployeeId/@temp.ImageName">
                                            </div>
                                        </div>
                                    </a>
                                }
                            }
                            else
                            {
                                <div class="avatar-icon-wrapper mb-3 avatar-icon-xl">
                                    <div class="avatar-icon">
                                        <img src="images/avatars/default-avatar-grey.png">
                                    </div>
                                </div>
                            }
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                    <DxGridDataColumn FieldName="FullName" Caption="Full Name" />
                    <DxGridDataColumn FieldName="NewPosition" />
                    <DxGridDataColumn FieldName="EmploymentStatus" />
                    <DxGridDataColumn FieldName="NewOrganizationalLevel" />
                    <DxGridDataColumn FieldName="EffectivityDate" />
                    <DxGridDataColumn FieldName="DateEncoded" />
                    <DxGridDataColumn FieldName="ApprovedDeclined" Caption="Approved/Declined By" />
                    <DxGridDataColumn FieldName="" Caption="Action" AllowSort="false" Width="90px" MinWidth="100" TextAlignment="GridTextAlignment.Center">
                        <CellDisplayTemplate>
                            @{
                            var temp = (context.DataItem as ReemploymentListView);
                            }
                            <button class="border-0 btn-transition btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Approve" @onclick="@(asd => Approve(temp))">
                                <i class="fa fa-check"></i>
                            </button>
                            <button class="border-0 btn-transition btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Disapprove" @onclick="@(asd => Disapprove(temp))">
                                <i class="lnr-thumbs-down"></i>
                            </button>
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                </Columns>
            </DxGrid>
        </div>
  @* <RadzenDataGrid Responsive=true @ref="renewalGrid" AllowFiltering="true" AllowPaging="true" PageSize="20" AllowSorting="true"
                    Data="@reemploymentListViews" TItem="HRMSv4.Shared.OnBoarding.ReemploymentListView" SelectionMode="DataGridSelectionMode.Multiple" PagerAlwaysVisible="true" ShowPagingSummary="true" PagerHorizontalAlign="HorizontalAlign.Center"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.SimpleWithMenu"
                    @bind-Value=@selectedEmployees ColumnWidth="300px">
        <Columns>
            <RadzenDataGridColumn TItem="ReemploymentListView" Property="Status" Title="Status" Frozen="true" Width="80px" />
            <RadzenDataGridColumn TItem="ReemploymentListView" Title="Photo" Frozen="true" Sortable="false" Filterable="false" Width="60px">
                <Template Context="employee">
                    @if (string.IsNullOrWhiteSpace(employee.ImageName))
                    {
                        <RadzenImage Path="/MainLayout/images/avatars/default-avatar.png" style="width: 40px; height: 40px; border-radius: 8px;" />
                    }
                    else
                    {
                        <RadzenImage Path=@(@apiURL + "Uploads/Employees/Avatar/" + employee.EmployeeId + "/" + employee.ImageName) style="width: 40px; height: 40px; border-radius: 8px;" />
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ReemploymentListView" Property="FullName" Title="Full Name" Width="140px" />
            <RadzenDataGridColumn TItem="ReemploymentListView" Property="NewPosition" Title="New Position" Width="140px" />
            <RadzenDataGridColumn TItem="ReemploymentListView" Property="EmploymentStatus" Title="Employment Status" Width="140px" />
            <RadzenDataGridColumn TItem="ReemploymentListView" Property="NewOrganizationalLevel" Title="New Organizational Level" Width="140px" />
            <RadzenDataGridColumn TItem="ReemploymentListView" Property="EffectivityDate" Title="Effectivity Date" Frozen="true" Width="140px" />
            <RadzenDataGridColumn TItem="ReemploymentListView" Property="DateEncoded" Title="Date Encoded" Width="140px" />
            <RadzenDataGridColumn TItem="ReemploymentListView" Property="ApprovedDeclined" Title="Approved/Declined By" Width="140px" />        
            <RadzenDataGridColumn TItem="ReemploymentListView" Context="reemploy" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="80px">
                <Template Context="reemploy">
                    @if (reemploy.Status != "Approved" && reemploy.Status != "Disapproved")
                    {
                        <button class="border-0 btn-transition btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Approve" @onclick="@(asd => Approve(reemploy))">
                            <i class="fa fa-check"></i>
                        </button>
                        <button class="border-0 btn-transition btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Disapprove" @onclick="@(asd => Disapprove(reemploy))">
                            <i class="fa fa-trash-alt"></i>
                        </button>
                    }

                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>*@
</div>

