@page "/module-staffing-plan/{staffYearId}"
@using DevExpress.Blazor
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<style>
    .nav-item {
        color: #3f6ad8 !important;
    }
    .nav-item:hover {
        color: white!important;
    }
</style>
<HRMSv4.Client.Shared.MainComponents.Breadcrumbs HeaderText="Staffing Plan" Text="Staffing Plan" Path="/module/staffingplan" />
<div class="container col-sm-12 col-md-12 col-xl-12 customModal">
    <BusyIndicator Message="@counter" Data="@Data">
        <div class="app-page-title m-2 p-2" style="background: white;">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="col-md-6">
                        <label class="form-label d-block">Staffing Year</label>
                        <label class="form-label m-0" style="font-size: 1.5rem">@yearTo.ToString()</label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="exampleEmail55">Office</label>
                        <DxComboBox Data="@_highestLevel" SizeMode="SizeMode.Medium"
                                    style="width: 30rem;"
                                    ValueChanged="@((SelectListItems item) => OnDeptSelect(item))"
                                    Value="@department" />
                                    @*TextChanged="OnDeptSelect"*@
                    </div>
                </div>
                @if (department != null || (department != null && department.Value != null && department.Value == "All"))
                {
                    <div class="page-title-actions">
                        <DxMenu ItemsPosition="ItemPosition.End" DropDownActionMode="MenuDropDownActionMode.Click">
                            <Items>
                                <DxMenuItem Text="Staffing Actions" CssClass="btn btn-outline-2x btn-outline-primary p-0">
                                    <Items>
                                        <DxMenuItem Click="GenerateStaffing" Text="Generate Staffing" />
                                        <DxMenuItem Click="() => ShowPlantillaModal(null)" Text="Add Staff" />
                                        <DxMenuItem Click="printData" Text="Print Preview" />
                                    </Items>
                                </DxMenuItem>
                            </Items>
                        </DxMenu>
                    </div>
                }
                
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <DxGrid @ref="MyGrid" Data="@Data"
                        ShowFilterRow = "true"
                        KeyFieldName="PositionItemId"
                        PagerVisible="true"
                        ValidationEnabled="false"
                        PageSize="20">
                    <Columns>
                        <DxGridDataColumn FieldName="ItemNumber" />
                        <DxGridDataColumn FieldName="Position" />
                        <DxGridDataColumn FieldName="Department"/>
                        <DxGridDataColumn FieldName="AuthorizedSalary" />
                        <DxGridDataColumn FieldName="ActualSalary" />
                        <DxGridDataColumn FieldName="Fullname" />
                        <DxGridDataColumn FieldName="IsGenerated" />
                        <DxGridDataColumn FilterRowEditorVisible="false" Width="8rem" TextAlignment="DevExpress.Blazor.GridTextAlignment.Center">
                            <CellDisplayTemplate>
                                @{
                                    var data = (context.DataItem as HRMSv4.Shared.OnBoarding.StaffingPlanView);
                                }
                                <button class="border-0 btn-transition btn btn-outline-success" data-toggle="tooltip" data-placement="top" title="Edit" @onclick="@(() => ShowPlantillaModal(data))">
                                    <i class="lnr-pencil"></i>
                                </button>
                                @if (data.StaffingPlanItemId > 0)
                                {
                                    <button class="border-0 btn-transition btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Undo" @onclick="@(() => AbolishItem(data))">
                                        <i class="lnr-undo"></i>
                                    </button>
                                }
                            </CellDisplayTemplate>
                        </DxGridDataColumn>
                    </Columns>
                </DxGrid>
            </div>
        </div>
    </BusyIndicator>
</div>
