@using DevExpress.Blazor
@using System.Globalization
@inject IGeneralPolicy service

<style>
    .dxbs-checkbox .custom-control > .custom-control-input {
        width: inherit !important;
        height: 95%;
    }
</style>

<div class="" id="timekeeping">
    <div class="row" hidden="@hideView">
        <div class="col-sm-12">
            <div class="card-header">
                <h5 class="card-header-text">Time Logs Policy</h5>
                <div class="btn-actions-pane-right text-capitalize">
                    <button class="btn-wide btn-outline-2x me-md-2 btn btn-outline-focus btn-sm" onclick="@ToEdit"><i class="pe-7s-note"></i></button>
                </div>
            </div>
            <div class="card-block" style="padding:1.25rem">
                <div id="view-info">
                    <div class="row col-12">
                        <div class="col-6">
                            <div class="row mb-2">
                                <h5>Time Logs</h5>
                                <div class="col-md-4 align-items-center d-flex">
                                    <div class="widget-heading">Regular Hours</div>
                                </div>
                                <div class="col-md-8">
                                    <div class="widget-subheading">@tlView.RegularHours</div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4 align-items-center d-flex">
                                    <div class="widget-heading">Days in Month</div>
                                </div>
                                <div class="col-md-8">
                                    <div class="widget-subheading">@tlView.DaysInMonth</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row mb-2 mt-3">
                                <div class="col-md-4 align-items-center d-flex">
                                    <div class="widget-heading">Log Interval (in minutes)</div>
                                </div>
                                <div class="col-md-8">
                                    <div class="widget-subheading">@tlView.LogIntervalMinutes</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row col-12">
                        <div class="col">
                            <div class="row mb-2">
                                <h5>Night Differential</h5>
                                <div class="col-md-4 align-items-center d-flex">
                                    <div class="widget-heading">Start Time</div>
                                </div>
                                <div class="col-md-8">
                                    <div class="widget-subheading">@tlView.NightDifferentialStartTime</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row mb-2 mt-3">
                                <div class="col-md-4 align-items-center d-flex">
                                    <div class="widget-heading">End Time</div>
                                </div>
                                <div class="col-md-8">
                                    <div class="widget-subheading">@tlView.NightDifferentialEndTime</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row col-12">
                        <div class="col-6">
                            <div class="row mb-2">
                                <h5>Other Settings</h5>
                                <div class="col-md-4 align-items-center d-flex">
                                    <div class="widget-heading">DTR Report Format</div>
                                </div>
                                <div class="col-md-8">
                                    <div class="widget-subheading">@tlView.DtrReportFormat</div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4 align-items-center d-flex">
                                    <div class="widget-heading">Travel Order Format</div>
                                </div>
                                <div class="col-md-8">
                                    <div class="widget-subheading">@tlView.TravelOrderFormFormat</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row mb-2 mt-3">
                                <div class="col-md-4 align-items-center d-flex">
                                    <div class="widget-heading">Max Locator Slips per Month</div>
                                </div>
                                <div class="col-md-8">
                                    <div class="widget-subheading">@tlView.MonthlyMaximumLocatorSlips</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id=editGeneral hidden="@hideEdit">
        <div class="col-sm-12">
            <div class="">
                <div class="card-header">
                    <h5 class="card-header-text">Update</h5>
                    <div class="btn-actions-pane-right text-capitalize">
                    </div>
                </div>
                <div class="card-block" style="padding:inherit.25rem">
                    <div id="view-info" class="mt-3">
                        <div class="row col-12">
                            <div class="col-6">
                                <div class="row mb-2">
                                    <h5>Time Logs</h5>
                                    <div class="col-md-4 align-items-center d-flex">
                                        <div class="widget-heading">Regular Hours</div>
                                    </div>
                                    <div class="col-md-8">
                                        <DxMaskedInput @bind-Value="@tl.RegularHours"
                                                       Mask="@NumericMask.WholeNumber" SizeMode="SizeMode.Medium"
                                                       BindValueMode="BindValueMode.OnInput"
                                                       NullText="Type text..."
                                                       CssClass="cw-320" />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <div class="widget-heading">Days in Month</div>
                                    </div>
                                    <div class="col-md-8">
                                        <DxMaskedInput @bind-Value="@tl.DaysInMonth"
                                                       Mask="@NumericMask.WholeNumber" SizeMode="SizeMode.Medium"
                                                       BindValueMode="BindValueMode.OnInput"
                                                       NullText="Type text..."
                                                       CssClass="cw-320" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row mb-2 mt-3">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <div class="widget-heading">Log Interval (in minutes)</div>
                                    </div>
                                    <div class="col-md-8">
                                        <DxMaskedInput @bind-Value="@tl.LogIntervalMinutes"
                                                       Mask="@NumericMask.WholeNumber" SizeMode="SizeMode.Medium"
                                                       BindValueMode="BindValueMode.OnInput"
                                                       NullText="Type text..."
                                                       CssClass="cw-320" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row col-12">
                            <div class="col-12" style="height:fit-content;">
                                <div class="row mb-2">
                                    <DxCheckBox CheckType="CheckType.Switch"
                                                LabelPosition="LabelPosition.Left"
                                                Checked="@hasNightDifferential"
                                                CheckedChanged="@((bool t) => CheckedChanged(t))"
                                                Alignment="CheckBoxContentAlignment.SpaceBetween">
                                        Has Night Differential?
                                    </DxCheckBox>
                                </div>
                            </div>
                            <div class="col-xl-6 col-sm-12 p-3 " hidden="@isHidden">
                                <div class="row mb-2">
                                   
                                    <div class="col-md-4 align-items-center d-flex">
                                        <div class="widget-heading">Start Time</div>
                                    </div>
                                    <div class="col-md-8">
                                        <DxTimeEdit @bind-Time="@StartTime" SizeMode="SizeMode.Medium"
                                                    Format="HH:mm"
                                                    DisplayFormat="@DisplayFormat"
                                                    CssClass="cw-320" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-sm-12" hidden="@isHidden">
                                <div class="row mb-2 mt-3">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <div class="widget-heading">End Time</div>
                                    </div>
                                    <div class="col-md-8">
                                        <DxTimeEdit @bind-Time="@EndTime" SizeMode="SizeMode.Medium"
                                                    Format="HH:mm"
                                                    DisplayFormat="@DisplayFormat"
                                                    CssClass="cw-320" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row col-12">
                            <div class="col-6">
                                <div class="row mb-2">
                                    <h5>Other Settings</h5>
                                    <div class="col-md-4 align-items-center d-flex">
                                        <div class="widget-heading">DTR Report Format</div>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" @bind="tl.DtrReportFormat">
                                            <option>Format 1</option>
                                            <option>Format 2</option>
                                            <option>Format 3</option>
                                            <option>Format 4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <div class="widget-heading">Travel Order Format</div>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" @bind="tl.TravelOrderFormFormat">
                                            <option>Format 1</option>
                                            <option>Format 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row mb-2 mt-3">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <div class="widget-heading">Max Locator Slips per Month</div>
                                    </div>
                                    <div class="col-md-8">
                                        <DxMaskedInput @bind-Value="@tl.MonthlyMaximumLocatorSlips"
                                                       Mask="@NumericMask.WholeNumber" SizeMode="SizeMode.Medium"
                                                       BindValueMode="BindValueMode.OnInput"
                                                       NullText="Type text..."
                                                       CssClass="cw-320" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="" style="display: unset !important;">
                            <div class="float-end">
                                <button type="button" id="next-btn" class="btn-shadow btn-wide me-3 btn btn-outline-secondary" onclick="@Cancel">Cancel</button>
                                <button type="button" id="prev-btn" class="btn-shadow btn-wide btn btn-outline-primary" onclick="@Save">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@code {
    bool hideEdit { get; set; } = true;
    bool hideView { get; set; } = false;

    HRMSv4.Shared.HrPolicy.TimeLogPolicy tl = new HRMSv4.Shared.HrPolicy.TimeLogPolicy();
    HRMSv4.Shared.HrPolicy.TimeLogPolicy tlView = new HRMSv4.Shared.HrPolicy.TimeLogPolicy();

    TimeSpan StartTime { get; set; }
    TimeSpan EndTime { get; set; }
    string DisplayFormat { get; } = string.IsNullOrEmpty(CultureInfo.CurrentCulture.DateTimeFormat.AMDesignator) ? "HH:mm" : "h:mm tt";

    string userId = string.Empty;

    bool hasNightDifferential { get; set; } = false;
    bool isHidden { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        var user = (await _AutService.GetAuthenticationStateAsync()).User;
        userId = user.FindFirst(c => c.Type.Contains("nameidentifier"))?.Value;

        tl = await service.GetTimeLogPolicy();
        if(tl.NightDifferentialStartTime != ""){
            hasNightDifferential = true;
            isHidden = false;
        }
        else{
            hasNightDifferential = false;
            isHidden = true;
        }
        tlView = await service.GetTimeLogPolicy();

    }

    void CheckedChanged(bool value)
    {
        hasNightDifferential = value;
        if (hasNightDifferential) isHidden = false;
        else isHidden = true;
    }

    async void ToEdit()
    {
        hideEdit = false;
        hideView = true;

    }

    void Cancel()
    {
        hideEdit = true;
        hideView = false;
        StateHasChanged();
    }

    async void Save()
    {
        tl.NightDifferentialStartTime = StartTime.ToString(@"hh\:mm");
        tl.NightDifferentialEndTime = EndTime.ToString(@"hh\:mm");
        tl.CreatedBy = userId;

        if(!hasNightDifferential)
        {
            tl.NightDifferentialStartTime = "";
            tl.NightDifferentialEndTime = "";
        }


        SweetAlertResult result = await _Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Do you really want to update the time log policies?",
                Text = "Warning this action cannot be undone.",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                ConfirmButtonText = "Yes",
                CancelButtonText = "No",
                CancelButtonColor = "#999999"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            var res = await service.PostTimeLogPolicy(tl);
            if (res.StatusCode == 200)
            {
                await _Swal.FireAsync("Success", res.Value, "success");
                tlView = await service.GetTimeLogPolicy();
                hideEdit = true;
                hideView = false;
                StateHasChanged();
            }
            else
            {
                await _Swal.FireAsync("Oops...", "Something went wrong!", "error");
            }
        }
    }
}
