@page "/module-specialpayroll"
@page "/module-specialpayroll/{parameter}"
@using HRMSv4.Client.Interface.Payroll
@inject IPayrollDate service
@inject ILevelOrganization _IlevelOrganization
@inject IPayroll _payrollService
@inject IDeductionTypes _deductionTypesService
@inject IAllowancetype _allowanceTypeService
@inject ILoanType _loanTypeService
@using DevExpress.Blazor
@using HRMSv4.Client.Shared.Modals.Payroll
@using HRMSv4.Shared.Payroll
@inject IJSRuntime JSRuntime
@inject IGeneralPolicy _generalPolicyService
@inject IEmployeeWithholdingTax _employeewithHoldingTaxService
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<style>

    .dxbs-checkbox .custom-control > .custom-control-input {
        width: inherit !important;
        height: inherit !important;
    }

    .dxbs-grid-header-content {
        justify-content: center;
    }

    .form-check-input {
        position: relative !important;
        margin-top: 0.3rem;
        margin-left: unset !important;
    }
</style>

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <h3>
                Special Payroll
            </h3>
        </div>
        <div class="page-title-actions">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/module-payrolldate">Payroll Date</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Special Payroll</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="position-relative mb-3">
                    <label class="form-label">Special Payroll Name</label>
                    <label class="form-label col mt-2"><b>@(payDateRange)</b></label>

                </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative mb-3">
                    <label class="form-label">Office</label>

                    <DxComboBox SizeMode="SizeMode.Medium" Data="@_highestLevel"
                                TextFieldName="@nameof(SelectListItems.Text)"
                                NullText="Select Office"
                                Value="@currentOffice"
                                ValueChanged="@((SelectListItems selectedOffice) => FilterOffice(selectedOffice))" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="position-relative mb-3" style="margin-top: 20px;text-align:right">
                    <button class="mb-2 me-2 btn btn-outline-2x btn-outline-primary" style="margin-bottom: 10px; width:200px" @onclick="@Print"> Print </button>
                    <button class="mb-2 me-2 btn btn-outline-2x btn-outline-primary" disabled="@(_selectedEmployeeList.Count() > 0  ? false : true)" style="margin-bottom: 10px; width:200px" @onclick="@GeneratePayroll"> Generate Payroll </button>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="row">

    <div class="col-lg">
        <div class="main-card mb-3 card">
            <div class="col m-3" style="text-align: right;">
                <DxButton Text="Column Chooser"
                          RenderStyle="ButtonRenderStyle.Secondary"
                          IconCssClass="btn-column-chooser"
                          CssClass="column-chooser-button mr-3"
                          Click="@OnClickColumnChooser" />
                <DxButton Text="Toggle Payroll Profile"
                          RenderStyle="ButtonRenderStyle.Secondary"
                          IconCssClass="btn-column-chooser"
                          CssClass="column-chooser-button mr-3"
                          Click="@EditRow"
                          Visible="@(_selectedEmployeeList.Count() == 1 ? true : false )" />
                @* <DxButton Text="@selectButtonText"
                IconCssClass="btn-column-chooser"
                CssClass="column-chooser-button mr-3"
                RenderStyle="ButtonRenderStyle.Secondary"
                Click="@SelectAllEmployee" />*@
            </div>
            <DxGrid @ref="MyGrid" Data="@Data" SelectionMode="GridSelectionMode.Multiple"
                    AllowSelectRowByClick="true" SelectedDataItemsChanged="SelectedEmployee" PageSize="20" PagerNavigationMode="PagerNavigationMode.InputBox" PagerVisible="true" ShowFilterRow="true">
                <Columns>
                    <DxGridSelectionColumn Width="60px" ShowInColumnChooser="false" />
                    <DxGridDataColumn FieldName="FullName" Caption="Name">

                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="false" FieldName="BasicPay" Caption="Bonus Amount">
                        <CellDisplayTemplate>
                            @{
                                var temp = (context.DataItem as EmployeePayrollDetailView);
                            }
                            @(temp.BasicPay != null && temp.BasicPay > 0 ? temp.BasicPay.Value.ToString("n2") : "0.00")
                        </CellDisplayTemplate>

                    </DxGridDataColumn>
                   
                    <DxGridDataColumn FilterRowEditorVisible="false" FieldName="OtherDeductionsAmount" Caption="Other Deductions">
                        <CellDisplayTemplate>
                            @{
                                var temp = (context.DataItem as EmployeePayrollDetailView);
                            }
                            @(temp.OtherDeductionsAmount != null && temp.OtherDeductionsAmount > 0 ? temp.OtherDeductionsAmount.Value.ToString("n2") : "0.00")
                        </CellDisplayTemplate>

                    </DxGridDataColumn>
                   
                    <DxGridDataColumn FilterRowEditorVisible="false" FieldName="WithholdingTaxAmount" Caption="Tax">
                        <CellDisplayTemplate>
                            @{
                                var temp = (context.DataItem as EmployeePayrollDetailView);
                            }
                            @(temp.WithholdingTaxAmount != null && temp.WithholdingTaxAmount > 0 ? temp.WithholdingTaxAmount.Value.ToString("n2") : "0.00")
                        </CellDisplayTemplate>

                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="false" FieldName="NetPayAmount" Caption="Net Pay">
                        <CellDisplayTemplate>
                            @{
                                var temp = (context.DataItem as EmployeePayrollDetailView);
                            }
                            @(temp.NetPayAmount != null && temp.NetPayAmount > 0 ? temp.NetPayAmount.Value.ToString("n2") : "0.00")
                        </CellDisplayTemplate>

                    </DxGridDataColumn>
                   
                    <DxGridDataColumn TextAlignment="DevExpress.Blazor.GridTextAlignment.Center" FilterRowEditorVisible="false" AllowSort="false" FieldName="" Caption="Action">
                        <CellDisplayTemplate>
                            @{
                                var temp = (context.DataItem as EmployeePayrollDetailView);
                            }
                            <button data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Print" class="border-0 btn-transition btn btn-outline-primary" @onclick="()=> PrintPaySlip(temp)"><span class="lnr-printer"></span></button>
                        </CellDisplayTemplate>

                    </DxGridDataColumn>

                </Columns>
                <TotalSummary>
                    <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="FullName" />

                </TotalSummary>
            </DxGrid>
        </div>

    </div>
    <div class="col-xl-4" hidden="@isHidden">
        <div class="main-card mb-3 card">
            <DxAccordion ExpandMode="ExpandMode" disabled ExpandCollapseAction="ExpandCollapseAction">
                <Items>
                    <DxAccordionItem Enabled="@isDisabled" Text="Bonus Amount">
                        <ContentTemplate>
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <form class="">
                                        
                                        <div class="position-relative row mb-3">
                                            <div class="col">
                                                <DxSpinEdit SizeMode="SizeMode.Medium" @bind-Value="@bonusAmount"
                                                            BindValueMode="BindValueMode.OnInput"
                                                            NullText="Type a value..."
                                                            MinValue="0" Mask="n2">
                                                </DxSpinEdit>
                                            </div>
                                        </div>

                                        <div class="position-relative ml-3 mt-3 row form-check">
                                            <div class="col-sm-10 offset-sm-2">
                                                <DxButton class="float-end btn btn-outline-2x btn-outline-primary" Click="@(() => RecomputePayroll(0))" SubmitFormOnClick="false" Text="Save And Recompute" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </ContentTemplate>
                    </DxAccordionItem>
                    <DxAccordionItem Enabled="@isDisabled" Text="Other Deductions">
                        <ContentTemplate Context="contextEdit">
                            <div class="container row mt-3 mb-3 ml-1">
                                <DxGrid @ref="MyGridDeductions" Data="@otherDeductionDetailsList.Where(c => c.ForDeleting == false).ToList()"
                                        ShowGroupPanel="false"
                                        PageSizeSelectorAllRowsItemVisible="false"
                                        EditModelSaving="OtherDeductionGrid_EditModelSaving"
                                        DataItemDeleting="OtherDeductionItemDeleting"
                                        EditMode="GridEditMode.EditRow">
                                    <Columns>
                                        <DxGridDataColumn FilterRowEditorVisible="false" FieldName="Amount" Caption="Deduction Amount">
                                            <CellEditTemplate>
                                                @{
                                                    var record = (OtherDeductionDetailView)context.EditModel;
                                                }
                                                <DxSpinEdit SizeMode="SizeMode.Medium" @bind-Value="@record.Amount"
                                                            BindValueMode="BindValueMode.OnInput"
                                                            NullText="Type a value..."
                                                            CssClass="cw-320" MinValue="0" Mask="n2"></DxSpinEdit>
                                            </CellEditTemplate>
                                        </DxGridDataColumn>
                                        <DxGridDataColumn FilterRowEditorVisible="false" FieldName="DeductionTypeString" TextAlignment="GridTextAlignment.Center" Caption="Deduction Type">
                                            <CellEditTemplate>
                                                @{
                                                    var record = (OtherDeductionDetailView)context.EditModel;
                                                }
                                                <DxComboBox SizeMode="SizeMode.Medium" Data="@deductionTypes"
                                                            TextFieldName="@nameof(HRMSv4.Shared.Payroll.DeductionType.DeductionTypeName)"
                                                            ValueFieldName="@nameof(HRMSv4.Shared.Payroll.DeductionType.DeductionTypeId)"
                                                            NullText="Select deduction type"
                                                            @bind-Value="@record.DeductionTypeId" />
                                            </CellEditTemplate>

                                        </DxGridDataColumn>
                                        <DxGridCommandColumn />
                                    </Columns>
                                </DxGrid>
                                <div class="position-relative ml-3 mt-3 row form-check">
                                    <div class="col-sm-10 offset-sm-2">
                                        <DxButton class="float-end btn btn-outline-2x btn-outline-primary" Click="@(() => RecomputePayroll(3))" SubmitFormOnClick="false" Text="Save And Recompute" />
                                    </div>
                                </div>
                            </div>
                        </ContentTemplate>
                    </DxAccordionItem>
                     @if (taxEnabled == true)
                     {
                         <DxAccordionItem Enabled="@isDisabled" Text="Tax Amount">
                            <ContentTemplate Context="contextEdit">
                                <div class="main-card mb-3 card">
                                    <div class="card-body">
                                        <form class="">
                                         
                                            <div class="position-relative row mb-3">
                                                       <label for="exampleEmail" class="form-label col-sm-5 col-form-label">Computation Type</label>
                                                <div class="col">
                                                    <DxComboBox Data="computationList"
                                                            @bind-Value="@taxComputationMode"
                                                            FilteringMode="@FilteringMode"
                                                            AllowUserInput="false"
                                                            NullText="Select..."
                                                            CssClass="cw-240" SelectedItemChanged="OnSelectChanged"/>
                                                </div>
                                            </div>
                                            <div class="position-relative row mb-3" hidden="@isHiddenTaxAmount">
                                                <label for="exampleEmail" class="form-label col-sm-5 col-form-label">Amount</label>
                                                <div class="col">
                                                    <DxSpinEdit SizeMode="SizeMode.Medium" @bind-Value="@taxAmount"
                                                            BindValueMode="BindValueMode.OnInput"
                                                            NullText="Type a value..."
                                                            MinValue="0" Mask="@inputMask">
                                                    </DxSpinEdit>
                                                </div>
                                            </div>

                                            <div class="position-relative ml-3 mt-3 row form-check">
                                                <div class="col-sm-10 offset-sm-2">
                                                    <DxButton class="float-end btn btn-outline-2x btn-outline-primary" Click="@(() => RecomputePayroll(4))" SubmitFormOnClick="false" Text="Save And Recompute" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </ContentTemplate>
                        </DxAccordionItem>
                     }
                        
                </Items>
            </DxAccordion>
        </div>



    </div>
</div>


@code {
    [Parameter]
    public string? parameter { get; set; } = "0";
    [CascadingParameter] public IModalService Modal { get; set; }
    DxDataGrid<EmployeePayrollDetailView> _gridRef;
    IGrid? MyGrid { get; set; }
    IGrid? MyGridAllowance { get; set; }
    IGrid? MyGridAdjustments { get; set; }
    IGrid? MyGridLoans { get; set; }
    IGrid? MyGridDeductions { get; set; }
    IGrid? MyGridEEPremiums { get; set; }
    IGrid? MyGridERPremiums { get; set; }
    object Data { get; set; }
    object DataS { get; set; }
    //List<PayrollDateListView> dates = new List<PayrollDateListView>();
    List<SelectListItems> _highestLevel = new List<SelectListItems>();

    DateTime defaultNewDate = DateTime.Parse("1900-01-01 00:00:00");
    int dateId = 0;
    PayrollDateListView currentDate { get; set; } = new PayrollDateListView();
    SelectListItems currentOffice { get; set; } = new SelectListItems();
    string payDateRange = "";
    bool isHidden = true;
    bool isDisabled = false;
    decimal value1 = decimal.Round(0, 2, MidpointRounding.AwayFromZero);
    string value2 = "";

    List<string> generateTypeList = new List<string>() { "Actual Logs", "Perfect Attendance", "Manual Entry" };
    List<string> allowancePeriodList = new List<string>() { "None", "1-15", "16-30" };

    GridDevExtremeDataSource<EmployeePayrollDetailView> gridDevExtremeDataSource;
    AccordionExpandMode ExpandMode { get; set; } = AccordionExpandMode.SingleOrNone;
    AccordionExpandCollapseAction ExpandCollapseAction { get; set; } = AccordionExpandCollapseAction.HeaderClick;
    EmployeePayrollDetailView _selectedEmployee;
    List<EmployeePayrollDetailView> _selectedEmployeeList = new List<EmployeePayrollDetailView>();

    LogsAndLeavesDetailView logsAndLeavesModel = new LogsAndLeavesDetailView();
    IEnumerable<AllowanceDetailView> allowanceDetailsList;
    IEnumerable<AdjustmentDetailView> adjustmentDetailsList;
    IEnumerable<LoanDetailView> loanDetailsList;
    IEnumerable<OtherDeductionDetailView> otherDeductionDetailsList;
    List<PayrollPremiumDetailView> employeePremiumDetailsList = new List<PayrollPremiumDetailView>();
    List<PayrollPremiumDetailView> employerPremiumDetailsList = new List<PayrollPremiumDetailView>();
    string selectButtonText = "Select All";
    List<HRMSv4.Shared.Payroll.DeductionType> deductionTypes = new List<HRMSv4.Shared.Payroll.DeductionType>();
    IEnumerable<HRMSv4.Shared.Payroll.LoanType> loanTypes;
    IEnumerable<HRMSv4.Shared.Payroll.AllowanceType> allowanceTypes;
    string userId = "";
    decimal bonusAmount = 0;
    decimal taxAmount = 0;
    decimal taxableBonusAmount = 0;
    bool taxEnabled = false;
    List<string> computationList = new List<string>() { "Auto-compute", "Custom rate", "Custom percentage" };
    DataGridFilteringMode FilteringMode { get; set; } = DataGridFilteringMode.StartsWith;
    string taxComputationMode = "";
    string inputMask { get; set; }
    bool isHiddenTaxAmount = true;
    HRMSv4.Shared.Payroll.EmployeeWithholdingTax taxModel = new HRMSv4.Shared.Payroll.EmployeeWithholdingTax();

    protected override async Task OnInitializedAsync()
    {
        var user = (await _AutService.GetAuthenticationStateAsync()).User;
        userId = user.FindFirst(c => c.Type.Contains("nameidentifier"))?.Value;

        var generalPolicy = await _generalPolicyService.Get();
        taxableBonusAmount = taxableBonusAmount != null ? generalPolicy.TaxableBonusAmount : 0M ; 
        _selectedEmployee = null;
        int decryptedParam = int.Parse(_crypto.ConvertHexToString(parameter, System.Text.Encoding.Unicode));

        int selectedParameter = decryptedParam != null && decryptedParam > 0 ? decryptedParam : 0;

        var datesList = await service.GetPayrollDates(defaultNewDate, "none");

        var selectedDate = datesList.FirstOrDefault(c => c.PayrollDateId == selectedParameter);

        if (selectedDate != null)
        {
            currentDate = selectedDate;
        }

        payDateRange = $"{selectedDate.Name}";

        _highestLevel = await _IlevelOrganization.GetHighestLevel();


        var empPayroll = await _payrollService.GetSpecialEmployeesPayroll(currentDate.PayrollDateId, "0");

        //devexpress server side - iqueryable
        gridDevExtremeDataSource = new GridDevExtremeDataSource<EmployeePayrollDetailView>(empPayroll.AsQueryable());
        gridDevExtremeDataSource.CustomizeLoadOptions = (loadOptions) =>
        {
            // If underlying data is a large SQL table, specify PrimaryKey and PaginateViaPrimaryKey.
            // This can make SQL execution plans more efficient.
            loadOptions.PrimaryKey = new[] { "PayrollId" };
            loadOptions.PaginateViaPrimaryKey = true;

        };

        Data = gridDevExtremeDataSource;

    }

    async void OnSelectChanged(string newValue)
    {

        if (newValue == "Auto-compute")
        {
            isHiddenTaxAmount = true;
        }
        else
        {
            isHiddenTaxAmount = false;
        }

        if (newValue == "Custom percentage")
        {
            inputMask = NumericMask.Percentage;
        }

        else
        {
            inputMask = NumericMask.WholeNumber;
        }



        StateHasChanged();
    }

    async Task EditRow()
    {
        isHidden = isHidden ? false : true;
    }

    async Task PrintPaySlip(EmployeePayrollDetailView selectedEmpPay)
    {

    }

    async Task RecomputePayroll(int particular)
    {
        try
        {
            SweetAlertResult result = await _Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Do you really want to proceed?",
                    Text = "",
                    Icon = SweetAlertIcon.Question,
                    ShowCancelButton = true,
                    ConfirmButtonText = "Yes",
                    CancelButtonText = "No",
                    CancelButtonColor = "#999999"
                });

            if (!string.IsNullOrEmpty(result.Value))
            {
                PayrollRecomputeView recomputeView = new PayrollRecomputeView();
                recomputeView.otherDeductionsDetailView = new List<OtherDeductionDetailView>();
                recomputeView.loansDetailView = new List<LoanDetailView>();
                recomputeView.allowancesDetailView = new List<AllowanceDetailView>();
                switch (particular)
                {
                    case 0:
                        //logs and leaves
                        recomputeView.PayrollId = _selectedEmployeeList.Count() == 1 ? _selectedEmployeeList.FirstOrDefault().PayrollId : 0;
                        recomputeView.RecomputedBy = userId;
                        recomputeView.ValuesToRecompute = 0;
                        recomputeView.BonusAmount = bonusAmount;
                        if (recomputeView.PayrollId > 0)
                        {
                            var result0 = await _payrollService.RecomputeSpecialPayroll(recomputeView);

                            if (result0.StatusCode == 200)
                            {
                                await _Swal.FireAsync("Success", result0.Value, "success");
                                await RefreshMainGrid();
                            }
                        }

                        break;


                    case 3:
                        //deductions
                        recomputeView.PayrollId = _selectedEmployeeList.Count() == 1 ? _selectedEmployeeList.FirstOrDefault().PayrollId : 0;
                        recomputeView.RecomputedBy = userId;
                        recomputeView.otherDeductionsDetailView = otherDeductionDetailsList.ToList();
                        recomputeView.ValuesToRecompute = 3;
                        if (recomputeView.PayrollId > 0)
                        {
                            var result4 = await _payrollService.RecomputeSpecialPayroll(recomputeView);
                            if (result4.StatusCode == 200)
                            {
                                await _Swal.FireAsync("Success", result4.Value, "success");
                                await RefreshMainGrid();
                            }
                        }

                        break;
                    case 4:
                        //premiums
                        recomputeView.PayrollId = _selectedEmployeeList.Count() == 1 ? _selectedEmployeeList.FirstOrDefault().PayrollId : 0;
                        recomputeView.RecomputedBy = userId;
                        recomputeView.employeeWithholdingTax = taxModel;
                        recomputeView.ValuesToRecompute = 4;
                        if (recomputeView.PayrollId > 0)
                        {
                            var result5 = await _payrollService.RecomputeSpecialPayroll(recomputeView);
                            if (result5.StatusCode == 200)
                            {
                                await _Swal.FireAsync("Success", result5.Value, "success");
                                await RefreshMainGrid();
                            }
                        }
                        break;

                }

            }




        }
        catch (Exception ex)
        {

            throw;
        }


    }

    async Task OtherDeductionGrid_EditModelSaving(GridEditModelSavingEventArgs item)
    {
        var newmodelData = item.EditModel as OtherDeductionDetailView;
        var previousmodelData = item.DataItem != null ? item.DataItem as OtherDeductionDetailView : null;

        var selectedPrevious = previousmodelData != null ? otherDeductionDetailsList.FirstOrDefault(c => c.DeductionTypeId == previousmodelData.DeductionTypeId) : null;

        if (selectedPrevious != null)
        {
            var IsExisting = otherDeductionDetailsList.FirstOrDefault(c => c.DeductionTypeId != previousmodelData.DeductionTypeId && c.DeductionTypeId == newmodelData.DeductionTypeId);
            if (IsExisting != null)
            {
                await _Swal.FireAsync("Warning", "Cannot enter duplicate deduction type", "warning");
                return;
            }
            selectedPrevious.Amount = newmodelData.Amount;
            selectedPrevious.DeductionTypeId = newmodelData.DeductionTypeId;
            selectedPrevious.DeductionTypeString = newmodelData.DeductionTypeId.HasValue ? deductionTypes.FirstOrDefault(c => c.DeductionTypeId == newmodelData.DeductionTypeId.Value).DeductionTypeName : "";
        }
        else
        {
            var list = otherDeductionDetailsList.ToList();
            var IsExisting = otherDeductionDetailsList.FirstOrDefault(c => c.DeductionTypeId == newmodelData.DeductionTypeId);
            if (IsExisting != null)
            {
                await _Swal.FireAsync("Warning", "Cannot enter duplicate deduction type", "warning");
                return;
            }
            newmodelData.DeductionTypeString = newmodelData.DeductionTypeId.HasValue ? deductionTypes.FirstOrDefault(c => c.DeductionTypeId == newmodelData.DeductionTypeId.Value).DeductionTypeName : "";
            list.Add(newmodelData);

            otherDeductionDetailsList = list;
        }

        StateHasChanged();
    }

    async Task OtherDeductionItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var dataToDelete = e.DataItem as OtherDeductionDetailView;
        var selectedPrevious = dataToDelete != null ? otherDeductionDetailsList.FirstOrDefault(c => c.DeductionTypeId == dataToDelete.DeductionTypeId) : null;
        if (selectedPrevious != null)
        {
            selectedPrevious.ForDeleting = true;
        }
    }

    async Task FilterPayrollDates(PayrollDateListView payrollDate)
    {
        currentDate = payrollDate;
        await _gridRef.Refresh();
    }

    void OnClickColumnChooser()
    {
        MyGrid.ShowColumnChooser(".column-chooser-button");
    }

    async Task FilterOffice(SelectListItems office)
    {
        currentOffice = office;
        await RefreshMainGrid();
    }

    async Task GeneratePayroll()
    {
        //save employee assessment
        var options = new ModalOptions()
            {
                DisableBackgroundCancel = true,
                Animation = ModalAnimation.FadeIn(0.2),
                ContentScrollable = true

            };

        List<int>? _EmployeeIdList = new List<int>();
        List<int>? _PayrollIdList = new List<int>();

        _EmployeeIdList = _selectedEmployeeList.Select(c => c.EmployeeId).Distinct().ToList();
        _PayrollIdList = _selectedEmployeeList.Select(c => c.PayrollId).ToList();


        int decryptedParamDateId = int.Parse(_crypto.ConvertHexToString(parameter, System.Text.Encoding.Unicode));
        int selectedParameterDateId = decryptedParamDateId != null && decryptedParamDateId > 0 ? decryptedParamDateId : 0;
        var _selectedDate = await service.GetPayrollDateDetail(selectedParameterDateId);

        PayrollGenerationView _payrollView = new PayrollGenerationView();
        _payrollView.EmployeeIdList = _EmployeeIdList;
        _payrollView.PayrollIdList = _PayrollIdList;
        _payrollView.GeneratedBy = userId;
        _payrollView.PayrollDateId = selectedParameterDateId;
        _payrollView.IsPlantilla = _selectedDate.IsPlantilla;

        var parameters = new ModalParameters();
        parameters.Add(nameof(SpecialPayrollGenerationModal.payrollParams), _payrollView);

        var formModal = Modal.Show<SpecialPayrollGenerationModal>("Generate Payroll", parameters, options);
        var result = await formModal.Result;

        if (result.Cancelled == false)
        {
            await RefreshMainGrid();
        }
    }

    async Task Print()
    {
        //string selectedOrg = "";
        //if (orgLevelname == null)
        //{
        //    selectedOrg = "0";
        //}
        //else
        //{
        //    selectedOrg = orgLevelname;
        //}
        var options = new ModalOptions()
            {
                DisableBackgroundCancel = true,
                //Animation = ModalAnimation.FadeIn(0.2),
                ContentScrollable = true,
            };
        string level = currentOffice != null ? currentOffice.Text : "0";
        var parameters = new ModalParameters();
        parameters.Add(nameof(PrintSpecialPayrollModal.payrollName), payDateRange);
        parameters.Add(nameof(PrintSpecialPayrollModal.level), level);
        var _modalStatus = Modal.Show<PrintSpecialPayrollModal>("Print Special Payroll", parameters, options);
        var modalResult = await _modalStatus.Result;
        PrintView result = new PrintView();
        result = modalResult.Data != null ? modalResult.Data as PrintView : null;
        string selectedDate = modalResult.Data.ToString();
        if (!modalResult.Cancelled)
        {
            var psgcCode = await localStorage.GetItemAsync<string>("AdminPsgcCode");
            string pDateId = currentDate.PayrollDateId.ToString();
            string org = currentOffice.Value != null ? currentOffice.Value.ToString() : "0";
            string certBy = result.CertifiedBy.Replace(",", "");
            string appBy = result.ApprovedBy.Replace(",", "");
            string certPos = result.CertifiedByPosition;
            string appPos = result.ApprovedByPosition;
            string admin = result.AdminBy.Replace(",", "");
            string adminPos = result.AdminByPosition;
            string treasurer = result.TreasurerBy.Replace(",", "");
            string tresPos = result.TreasurerPosition;

            string psgcAndUser = string.Format("{0};{1}", psgcCode, userId);
            string arrayOfParemeters = string.Format("{0}${1}${2}${3}${4}${5}${6}${7}${8}${9}${10}", psgcAndUser, pDateId, org, certBy, certPos, appBy, appPos, admin, adminPos, treasurer, tresPos);
            string _encryptedParameter = _crypto.ConvertStringToHex(arrayOfParemeters, System.Text.Encoding.Unicode);

            string url = $"/viewer/{"SpecialPayroll"}/{_encryptedParameter}";
            await JSRuntime.InvokeAsync<object>("open", url, "_blank");
        }
    }

    async Task RefreshMainGrid()
    {

        _selectedEmployeeList = new List<EmployeePayrollDetailView>();
        var empPayroll = await _payrollService.GetSpecialEmployeesPayroll(currentDate.PayrollDateId, (currentOffice.Value != null ? currentOffice.Value : "0"));
        gridDevExtremeDataSource = new GridDevExtremeDataSource<EmployeePayrollDetailView>(empPayroll.AsQueryable());
        Data = gridDevExtremeDataSource;
        MyGrid.ClearSelection();
        MyGrid.Reload();
    }

    async Task<IEnumerable<EmployeePayrollDetailView>> LoadDataAsync(CancellationToken token)
    {
        IEnumerable<EmployeePayrollDetailView> empPayroll;

        try
        {
            int decryptedParam = int.Parse(_crypto.ConvertHexToString(parameter, System.Text.Encoding.Unicode));

            int selectedParameter = decryptedParam != null && decryptedParam > 0 ? decryptedParam : 0;

            var datesList = await service.GetPayrollDates(defaultNewDate, "none");

            var selectedDate = datesList.FirstOrDefault(c => c.PayrollDateId == selectedParameter);
            if (selectedDate != null)
            {
                currentDate = selectedDate;
            }

            empPayroll = await _payrollService.GetSpecialEmployeesPayroll(currentDate.PayrollDateId, "0");

            return empPayroll;
        }
        catch (Exception ex)
        {

            throw;
        }

    }

    async Task SelectedEmployee(object selected)
    {
        _selectedEmployeeList = new List<EmployeePayrollDetailView>();
        DevExpress.Blazor.Internal.GridSelectedDataItemsCollection gridSelectedDataItemsCollection;
        gridSelectedDataItemsCollection = selected as DevExpress.Blazor.Internal.GridSelectedDataItemsCollection;
        _selectedEmployeeList = gridSelectedDataItemsCollection.Cast<EmployeePayrollDetailView>().ToList();


        if (_selectedEmployeeList.Count() > 1 || _selectedEmployeeList.Count() == 0)
        {
            isDisabled = false;
            isHidden = true;
            StateHasChanged();
        }
        else
        {
            otherDeductionDetailsList = new List<OtherDeductionDetailView>();
            allowanceDetailsList = new List<AllowanceDetailView>();
            var selectedEmp = _selectedEmployeeList.FirstOrDefault();
            deductionTypes = await _deductionTypesService.All();
            allowanceTypes = await _allowanceTypeService.GetAll();
            loanTypes = await _loanTypeService.GetLoanTypes();
            bonusAmount = selectedEmp.BasicPay.HasValue ? selectedEmp.BasicPay.Value : 0;

            taxEnabled = selectedEmp.BasicPay > taxableBonusAmount  ? true : false;
            taxModel = await _employeewithHoldingTaxService.GetEmpTax(selectedEmp.EmployeeId);
            taxComputationMode = taxModel.WithholdingTaxComputation;

            otherDeductionDetailsList = await _payrollService.GetEmployeePayrollDeductions(selectedEmp.PayrollId);
            allowanceDetailsList = await _payrollService.GetEmployeePayrollAllowances(selectedEmp.PayrollId);
            loanDetailsList = await _payrollService.GetEmployeePayrollLoans(selectedEmp.PayrollId);
            logsAndLeavesModel = await _payrollService.GetEmployeeLogsAndLeaves(selectedEmp.PayrollId);
            var listPrems = await _payrollService.GetEmployeePayrollPremiums(selectedEmp.PayrollId);

            employeePremiumDetailsList = listPrems.Where(c => c.IsEmployeeShare == true).ToList();
            employerPremiumDetailsList = listPrems.Where(c => c.IsEmployeeShare == false).ToList();

            isHidden = false;
            isDisabled = true;
        }

    }


}
