@using HRMSv4.Client.Interface.File
@using HRMSv4.Shared.OnBoarding
@using HRMSv4.Shared.Audit
@layout MainLayout
@inject DialogService DialogService

<AuthorizeView Roles="Employee, Administrator">
    <BusyIndicator Message="Please wait while loading data..." Data="employee">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Work Hours</h5>
                            @*<Chart Config="_config1" @ref="_chart1"></Chart>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="main-card mb-3 card">
                    <div class="card-header" style="height:2rem !important">Work Log</div>
                    <div class="card-body">
                        <div class="row widget-content">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="widget-subheading">FRIDAY,</div>
                                <div class="widget-subheading">June 25,2022</div>
                                <div class="widget-heading text-success" style="font-size:45px">06:05:45</div>
                                <div class="text-muted">Total Work time</div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="widget-subheading">Clock in time:</div>
                                <div class="widget-subheading text-danger" style="font-size:20px">07:54:00</div>
                                <div class="widget-subheading">Clock out time:</div>
                                <div class="widget-subheading text-warning" style="font-size:20px">00:00:00</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card mb-3 widget-content bg-night-fade">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Late Days</div>
                                    @* <div class="widget-subheading">Last year expenses</div>*@
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-white">
                                        <span>5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card mb-3 widget-content bg-arielle-smile">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Absent Days</div>
                                    @* <div class="widget-subheading">Total Clients Profit</div>*@
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-white">
                                        <span>3</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card mb-3 widget-content bg-happy-green">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Pending Leave</div>
                                    @*<div class="widget-subheading">People Interested</div>*@
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-white">
                                        <span>1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-xl-none d-lg-block col-md-6 col-xl-4">
                        <div class="card mb-3 widget-content bg-premium-dark">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Products Sold</div>
                                    <div class="widget-subheading">Revenue streams</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-warning">
                                        <span>$14M</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <RadzenScheduler TItem="AppointmentExample" Data=@appointments StartProperty="Start" EndProperty="End" TextProperty="Text" SelectedIndex="2" style="height: 768px;">
                            <RadzenDayView />
                            <RadzenWeekView />
                            <RadzenMonthView />
                        </RadzenScheduler>

                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <div class="">
                            <div class="nav">
                                <a data-bs-toggle="tab" href="#tab-eg6-0" class="border-0 btn-transition active btn btn-outline-primary">HOLIDAYS</a>
                                <a data-bs-toggle="tab" href="#tab-eg6-1" class="me-1 ms-1 border-0 btn-transition  btn btn-outline-primary">RECENT LEAVES</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-eg6-0" role="tabpanel">
                                <ul class="todo-list-wrapper list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">
                                                        SUN Jun 12, 2022
                                                    </div>
                                                    <div class="widget-subheading">
                                                        <div class="badge bg-danger ms-2">Independence day</div>
                                                    </div>
                                                </div>
                                                <div class="widget-content-right widget-content-actions">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">
                                                        SUN Jun 12, 2022
                                                    </div>
                                                    <div class="widget-subheading">
                                                        <div class="badge bg-danger ms-2">Independence day</div>
                                                    </div>
                                                </div>
                                                <div class="widget-content-right widget-content-actions">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">
                                                        SUN Jun 12, 2022
                                                    </div>
                                                    <div class="widget-subheading">
                                                        <div class="badge bg-danger ms-2">Independence day</div>
                                                    </div>
                                                </div>
                                                <div class="widget-content-right widget-content-actions">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">
                                                        SUN Jun 12, 2022
                                                    </div>
                                                    <div class="widget-subheading">
                                                        <div class="badge bg-danger ms-2">Independence day</div>
                                                    </div>
                                                </div>
                                                <div class="widget-content-right widget-content-actions">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">
                                                        SUN Jun 12, 2022
                                                    </div>
                                                    <div class="widget-subheading">
                                                        <div class="badge bg-danger ms-2">Independence day</div>
                                                    </div>
                                                </div>
                                                <div class="widget-content-right widget-content-actions">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">
                                                        SUN Jun 12, 2022
                                                    </div>
                                                    <div class="widget-subheading">
                                                        <div class="badge bg-danger ms-2">Independence day</div>
                                                    </div>
                                                </div>
                                                <div class="widget-content-right widget-content-actions">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">
                                                        SUN Jun 12, 2022
                                                    </div>
                                                    <div class="widget-subheading">
                                                        <div class="badge bg-danger ms-2">Independence day</div>
                                                    </div>
                                                </div>
                                                <div class="widget-content-right widget-content-actions">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">
                                                        SUN Jun 12, 2022
                                                    </div>
                                                    <div class="widget-subheading">
                                                        <div class="badge bg-danger ms-2">Independence day</div>
                                                    </div>
                                                </div>
                                                <div class="widget-content-right widget-content-actions">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">
                                                        SUN Jun 12, 2022
                                                    </div>
                                                    <div class="widget-subheading">
                                                        <div class="badge bg-danger ms-2">Independence day</div>
                                                    </div>
                                                </div>
                                                <div class="widget-content-right widget-content-actions">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">
                                                        SUN Jun 12, 2022
                                                    </div>
                                                    <div class="widget-subheading">
                                                        <div class="badge bg-danger ms-2">Independence day</div>
                                                    </div>
                                                </div>
                                                <div class="widget-content-right widget-content-actions">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="tab-eg6-1" role="tabpanel">
                                <p>
                                    Like Aldus PageMaker including versions of Lorem. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                                    essentially unchanged.
                                </p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card-shadow-primary card-border mb-3 card" style="height:42vh">
                <div class="p-3">
                    <h6 class="text-muted text-uppercase font-size-md opacity-5 fw-normal">Recent Activities</h6>
                    <ul class="rm-list-borders list-group list-group-flush">

                        @if (submittedExams.Count() > 0)
                        {
                            @for (int i = 0; i < submittedExams.Count(); i++)
                            {
                                var selectedExam = submittedExams[i];

                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left me-3">
                                                <img width="42" class="rounded-circle" src="/images/avatars/default-avatar-grey.png" alt="">
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">(Assessment) @selectedExam.ExamTitle</div>
                                                <div class="widget-subheading">Score: @(selectedExam.Score), Percentage: @(selectedExam.ScorePercentage)</div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="font-size-xlg text-muted">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }                            
                        }                       
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-8">
            <h4>Assessment</h4>
            <div class="row">

                @if (exams.Where(c => c.Status != "Submitted").Count() > 0)
                {
                    @for (int i = 0; i < exams.Count(); i++)
                    {
                        var selectedRecord = exams[i];

                        @if (selectedRecord.Status == "Pending")
                        {
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-chart widget-chart2 text-start card-btm-border card-shadow-success border-dark">
                                    <div class="widget-chat-wrapper-outer">
                                        <div class="card-header">
                                            @selectedRecord.ExamTitle
                                            <div class="btn-actions-pane-right actions-icon-btn" hidden="@(isHidden)">
                                                <button class="btn-icon btn-icon-only btn btn-link" @onclick="@(() => TakeExam(selectedRecord.JobVacancyId, selectedRecord.ApplicantExamId))">
                                                    <i class="lnr-highlight btn-icon-wrapper" title="Take Exam"></i>
                                                </button>
                                            </div>                                    
                                        </div>
                                        <div class="card-body">
                                            @*<h6 class="widget-subheading mb-3 opacity-5">Score: @(selectedRecord.Score)</h6>
                                            <h6 class="widget-subheading mb-3 opacity-5">Percentage: @(selectedRecord.ScorePercentage) </h6>*@
                                            <h6 class="widget-subheading mb-3 opacity-5">Status: @(selectedRecord.Status)</h6>

                                            @for (int a = 0; a < selectedRecord.Exams.Count(); a++)
                                            {
                                                var subj = selectedRecord.Exams[a];
                                                @*<h6 class="widget-subheading mb-3 opacity-5">@(subj.SubjectName)</h6>*@

                                                 <li class="list-group-item">
                                                     <div class="widget-content p-0">
                                                         <div class="widget-content-wrapper">
                                                            
                                                             <div class="widget-content-left">
                                                                 <div class="widget-heading">@(subj.SubjectName)</div>
                                                             </div>
                                                             <div class="widget-content-right">
                                                                @(subj.Percentage + " %")
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </li>

                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>

                        }
                        else if (selectedRecord.Status == "Ongoing")
                        {
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-chart widget-chart2 text-start card-btm-border card-shadow-success" style="border-color:orange">
                                    <div class="widget-chat-wrapper-outer">
                                        <div class="card-header">
                                            @selectedRecord.ExamTitle

                                            <div class="btn-actions-pane-right actions-icon-btn" hidden="@(isHidden)">
                                                <button class="btn-icon btn-icon-only btn btn-link" @onclick="@(() => ContinueExam(selectedRecord.JobVacancyId, selectedRecord.ApplicantExamId, selectedRecord.CurrentRow))">
                                                    <i class="lnr-arrow-right btn-icon-wrapper" title="Continue Exam"></i>
                                                </button>
                                            </div>

                                        </div>

                                        <div class="card-body">
                                            @*<h6 class="widget-subheading mb-3 opacity-5">Score: @(selectedRecord.Score)</h6>
                                            <h6 class="widget-subheading mb-3 opacity-5">Percentage: @(selectedRecord.ScorePercentage) </h6>*@
                                            <h6 class="widget-subheading mb-3 opacity-5">Status: @(selectedRecord.Status)</h6>

                                            @for (int a = 0; a < selectedRecord.Exams.Count(); a++)
                                            {
                                                var subj = selectedRecord.Exams[a];

                                                @*<h6 class="widget-subheading mb-3 opacity-5">@(subj.SubjectName)</h6>*@
                                                <li class="list-group-item">
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">

                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">@(subj.SubjectName)</div>
                                                            </div>
                                                            <div class="widget-content-right">
                                                                @(subj.Percentage + " %")
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }

                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    <div class="text-center">
                        <div class="widget-title opacity-5 text-muted text-uppercase ml-3">No available exams.</div>
                    </div>
                }
            </div>
        </div>
    </div>

    </BusyIndicator>
</AuthorizeView>

<AuthorizeView Roles=@RoleConstants.JobSeekerRole>

    <div class="row">
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-night-fade">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Application</div>
                        @*<div class="widget-subheading">Last year expenses</div>*@
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white">
                            <span>@exams.Count()</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-arielle-smile">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Interview</div>
                        @*<div class="widget-subheading">Total Clients Profit</div>*@
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white">
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-happy-green">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Schedule</div>
                        @*<div class="widget-subheading">People Interested</div>*@
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white">
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card-shadow-primary card-border mb-3 card" style="height:42vh">
                <div class="p-3">
                    <h6 class="text-muted text-uppercase font-size-md opacity-5 fw-normal">Recent Activities</h6>
                    <ul class="rm-list-borders list-group list-group-flush">

                        @if (submittedExams.Count() > 0)
                        {
                            @for (int i = 0; i < submittedExams.Count(); i++)
                            {
                                var selectedExam = submittedExams[i];

                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left me-3">
                                                <img width="42" class="rounded-circle" src="/images/avatars/default-avatar-grey.png" alt="">
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">(Assessment) @selectedExam.ExamTitle</div>
                                                @*<div class="widget-subheading">Score: @(selectedExam.Score), Percentage: @(selectedExam.ScorePercentage)</div>*@
                                                <div class="widget-subheading">Score: @(selectedExam.Score.Split('/')[0])</div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="font-size-xlg text-muted">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                            
                        }
                        

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-8">
            <h4>Assessment</h4>
            <div class="row">

                @if (exams.Where(c => c.Status != "Submitted").Count() > 0)
                {
                    @for (int i = 0; i < exams.Count(); i++)
                    {
                        var selectedRecord = exams[i];

                        @if (selectedRecord.Status == "Pending")
                        {
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-chart widget-chart2 text-start card-btm-border card-shadow-success border-dark">
                                    <div class="widget-chat-wrapper-outer">
                                        <div class="card-header">
                                            @selectedRecord.ExamTitle

                                            <div class="btn-actions-pane-right actions-icon-btn">
                                                <button class="btn-icon btn-icon-only btn btn-link" @onclick="@(() => TakeExam(selectedRecord.JobVacancyId, selectedRecord.ApplicantExamId))">
                                                    <i class="lnr-highlight btn-icon-wrapper" title="Take Exam"></i>
                                                </button>
                                            </div>

                                        </div>

                                        <div class="card-body">
                                            @*<h6 class="widget-subheading mb-3 opacity-5">Score: @(selectedRecord.Score)</h6>
                                            <h6 class="widget-subheading mb-3 opacity-5">Percentage: @(selectedRecord.ScorePercentage) </h6>*@
                                            <h6 class="widget-subheading mb-3 opacity-5">Status: @(selectedRecord.Status)</h6>

                                            @for (int a = 0; a < selectedRecord.Exams.Count(); a++)
                                            {
                                                var subj = selectedRecord.Exams[a];
                                                @*<h6 class="widget-subheading mb-3 opacity-5">@(subj.SubjectName)</h6>*@

                                                 <li class="list-group-item">
                                                     <div class="widget-content p-0">
                                                         <div class="widget-content-wrapper">
                                                            
                                                             <div class="widget-content-left">
                                                                 <div class="widget-heading">@(subj.SubjectName)</div>
                                                             </div>
                                                             <div class="widget-content-right">
                                                                @(subj.Percentage + " %")
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </li>

                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>

                        }
                        else if (selectedRecord.Status == "Ongoing")
                        {
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-chart widget-chart2 text-start card-btm-border card-shadow-success" style="border-color:orange">
                                    <div class="widget-chat-wrapper-outer">
                                        <div class="card-header">
                                            @selectedRecord.ExamTitle

                                            <div class="btn-actions-pane-right actions-icon-btn">
                                                <button class="btn-icon btn-icon-only btn btn-link" @onclick="@(() => ContinueExam(selectedRecord.JobVacancyId, selectedRecord.ApplicantExamId, selectedRecord.CurrentRow))">
                                                    <i class="lnr-arrow-right btn-icon-wrapper" title="Continue Exam"></i>
                                                </button>
                                            </div>

                                        </div>

                                        <div class="card-body">
                                            @*<h6 class="widget-subheading mb-3 opacity-5">Score: @(selectedRecord.Score)</h6>
                                            <h6 class="widget-subheading mb-3 opacity-5">Percentage: @(selectedRecord.ScorePercentage) </h6>*@
                                            <h6 class="widget-subheading mb-3 opacity-5">Status: @(selectedRecord.Status)</h6>

                                            @for (int a = 0; a < selectedRecord.Exams.Count(); a++)
                                            {
                                                var subj = selectedRecord.Exams[a];

                                                @*<h6 class="widget-subheading mb-3 opacity-5">@(subj.SubjectName)</h6>*@
                                                <li class="list-group-item">
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">

                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">@(subj.SubjectName)</div>
                                                            </div>
                                                            <div class="widget-content-right">
                                                                @(subj.Percentage + " %")
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }

                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    <div class="text-center">
                        <div class="widget-title opacity-5 text-muted text-uppercase ml-3">No available exams.</div>
                    </div>
                }
            </div>
        </div>
    </div>

</AuthorizeView>

@code {
    EmployeeListView employee = new EmployeeListView();
}
