@page "/reports-employeemasterlist"
@using DevExpress.Blazor
@using DevExpress.Data.Filtering;
@using HRMSv4.Shared.OnBoarding
@inject IEmployeeMasterList service

<style>
    .dxbs-checkbox .custom-control > .custom-control-input {
        width: inherit !important;
        height: inherit !important;
    }

    .dxbs-grid-header-content {
        justify-content: center;
    }

    .form-check-input {
        position: relative !important;
        margin-top: 0.3rem;
        margin-left: unset !important;
    }
</style>

<AuthorizeView Roles="Job Provider, Administrator" Context="_headerctx">
    <div class="row">
        <div class="row">
            @*<div class="main-card mb-3">
            <div id="flyout-overview-target-container" class="col m-3" style="text-align: right;">
            <DxButton RenderStyle="ButtonRenderStyle.Secondary" Click="() => IsOpen = !IsOpen">SHOW FILTER</DxButton>
            </div>
            </div>*@

            <div class="col-lg">

                <div class="main-card mb-3 row">
                    <div class="col-12">

                        <div class="float-end" style="text-align: right;">
                            <DxButton Text="Column Chooser"
                                      RenderStyle="ButtonRenderStyle.Primary"
                                      IconCssClass="btn-column-chooser"
                                      CssClass="column-chooser-button mr-1"
                                      Click="@OnClickColumnChooser" />
                        </div>

                        <div id="flyout-overview-target-container" class="mr-1 float-end" style="text-align: right;">
                            <DxButton Text="Show Filter"
                                      RenderStyle="ButtonRenderStyle.Primary"
                                      IconCssClass="btn-column-chooser"
                                      CssClass="column-chooser-button"
                                      Click="() => IsOpen = !IsOpen">Show Filters</DxButton>
                        </div>
                        <div class="p-2">
                            <DxFlyout @bind-IsOpen=@IsOpen
                                      Position=FlyoutPosition.BottomEnd
                                      CloseOnOutsideClick=true
                                      CloseMode="FlyoutCloseMode.Close"
                                      HeaderVisible=true
                                      FooterVisible=true
                                      HeaderText="Filter"
                                      PositionTarget="#flyout-overview-target-container"
                                      PreventCloseOnPositionTargetClick="false" style="width: 650px; padding 10px;">
                                <BodyTemplate>
                                    <div class="p-2 mb-3">
                                        @if (IsMobile)
                                        {
                                            <span class="custom-flyout-header">Poul</span>
                                            <span class="custom-flyout-body">Designer</span>
                                        }
                                        else
                                        {
                                            <div>
                                                <label class="form-label">Age</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-6 d-block-flex mb-2">
                                                    <DxSpinEdit @bind-Value="@employees.ageRangeStart"
                                                            SizeMode="SizeMode.Medium"
                                                            NullText="Type a value..."
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            BindValueMode="BindValueMode.OnInput" />
                                                </div>

                                                <div class="col-6 d-block-flex mb-2">
                                                    <DxSpinEdit @bind-Value="@employees.ageRangeEnd"
                                                            SizeMode="SizeMode.Medium"
                                                            NullText="Type a value..."
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            BindValueMode="BindValueMode.OnInput" />
                                                </div>
                                            </div>

                                            <div>
                                                <label class="form-label">Years In Government Service</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-6 d-block-flex mb-2">
                                                    <DxSpinEdit @bind-Value="@employees.YearsInGovServiceStart"
                                                            SizeMode="SizeMode.Medium"
                                                            NullText="Type a value..."
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            BindValueMode="BindValueMode.OnInput" />
                                                </div>

                                                <div class="col-6 d-block-flex mb-2">
                                                    <DxSpinEdit @bind-Value="@employees.YearsInGovServiceEnd"
                                                            SizeMode="SizeMode.Medium"
                                                            NullText="Type a value..."
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            BindValueMode="BindValueMode.OnInput" />
                                                </div>
                                            </div>

                                            <div>
                                                <label class="form-label">Years In Agency</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-6 d-block-flex mb-2">
                                                    <DxSpinEdit @bind-Value="@employees.YearsInAgencyStart"
                                                            SizeMode="SizeMode.Medium"
                                                            NullText="Type a value..."
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            BindValueMode="BindValueMode.OnInput" />
                                                </div>

                                                <div class="col-6 d-block-flex mb-2">
                                                    <DxSpinEdit @bind-Value="@employees.YearsInAgencyEnd"
                                                            SizeMode="SizeMode.Medium"
                                                            NullText="Type a value..."
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            BindValueMode="BindValueMode.OnInput" />
                                                </div>
                                            </div>

                                            <div>
                                                <label class="form-label">Years In Current Position</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-6 d-block-flex mb-2">
                                                    <DxSpinEdit @bind-Value="@employees.CurrentPositionStart"
                                                            SizeMode="SizeMode.Medium"
                                                            NullText="Type a value..."
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            BindValueMode="BindValueMode.OnInput" />
                                                </div>

                                                <div class="col-6 d-block-flex mb-2">
                                                    <DxSpinEdit @bind-Value="@employees.CurrentPositionEnd"
                                                            SizeMode="SizeMode.Medium"
                                                            NullText="Type a value..."
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            BindValueMode="BindValueMode.OnInput" />
                                                </div>
                                            </div>

                                            <div class="divider"></div>

                                            <div>
                                                <label class="form-label">Birthdate</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-6 d-block-flex mb-2">
                                                    <DxDateEdit @bind-Date="@employees.BdayRangeStart"
                                                            NullText="Select a date..."
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            SizeMode="SizeMode.Medium"
                                                            CssClass="cw-320" />
                                                </div>

                                                <div class="col-6 d-block-flex mb-2">
                                                    <DxDateEdit @bind-Date="@employees.BdayRangeEnd"
                                                            NullText="Select a date..."
                                                            SizeMode="SizeMode.Medium"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                </div>
                                            </div>

                                            <div>
                                                <label class="form-label">First Day In Agency</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-6 d-block-flex mb-2">
                                                    <DxDateEdit @bind-Date="@employees.FdiaRangeStart"
                                                            NullText="Select a date..."
                                                            SizeMode="SizeMode.Medium"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                </div>

                                                <div class="col-6 d-block-flex mb-2">
                                                    <DxDateEdit @bind-Date="@employees.FdiaRangeEnd"
                                                            NullText="Select a date..."
                                                            SizeMode="SizeMode.Medium"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                </div>
                                            </div>

                                            <div>
                                                <label class="form-label">First Day In Government Service</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-6 d-block-flex mb-2">
                                                    <DxDateEdit @bind-Date="@employees.FdigsRangeStart"
                                                            NullText="Select a date..."
                                                            SizeMode="SizeMode.Medium"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                </div>

                                                <div class="col-6 d-block-flex mb-2">
                                                    <DxDateEdit @bind-Date="@employees.FdigsRangeEnd"
                                                            NullText="Select a date..."
                                                            SizeMode="SizeMode.Medium"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                </div>
                                            </div>

                                            <div>
                                                <label class="form-label">Date Of Last Promotion</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-6 d-block-flex mb-2">
                                                    <DxDateEdit @bind-Date="@employees.LastPromotionStart"
                                                            NullText="Select a date..."
                                                            SizeMode="SizeMode.Medium"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                </div>

                                                <div class="col-6 d-block-flex mb-2">
                                                    <DxDateEdit @bind-Date="@employees.LastPromotionEnd"
                                                            NullText="Select a date..."
                                                            SizeMode="SizeMode.Medium"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                </div>
                                            </div>

                                        }
                                    </div>
                                </BodyTemplate>
                                <FooterTextTemplate>
                                    <div class="w-100">
                                        <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Primary" Text="Submit" Click=@(()=> Filter()) />
                                    </div>
                                </FooterTextTemplate>
                            </DxFlyout>
                        </div>
                    </div>
                </div>
            </div>

            <DxGrid @ref="MyGrid" Data="@Data" PageSize="10" PagerNavigationMode="PagerNavigationMode.InputBox" PagerVisible="true" ShowFilterRow="true">
                <Columns>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="LastName" Caption="Last Name" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="FirstName" Caption="First Name" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="MiddleName" Caption="Middle Name" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="ExtensionName" Caption="Extension Name" Width="15px" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="Position" Caption="Position">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="Organization" Caption="Organization">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FilterRowOperatorType="GridFilterRowOperatorType.Equal" FieldName="Gender" Visible="false" Caption="Gender" TextAlignment="GridTextAlignment.Center">
                        <FilterRowCellTemplate>
                            <DxComboBox AllowUserInput="true"
                                        Data="genders"
                                        Value="(string)context.FilterRowValue"
                                        ValueChanged="(string v) => context.FilterRowValue = v"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"/>
                        </FilterRowCellTemplate>
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="ContactNumber" Caption="Contact Number" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="BloodType" Visible="false" Width="15px" Caption="Blood Type" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="EmploymentStatus" Caption="Employment Status" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="SalaryGradeNumber" Visible="false" Caption="Salary Grade" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="StepNumber" Visible="false" Caption="StepNumber" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="BirthDate" Visible="false" Caption="BirthDate" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="Age" Caption="Age" Width="15px" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="HighestEligibility" Visible="false" Caption="HighestEligibility" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="FirstDayInAgency" Visible="false" Caption="FirstDayInAgency" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="YearsInAgency" Caption="YearsInAgency" TextAlignment="GridTextAlignment.Center" />

                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="FirstDayInGovernmentService" Visible="false" Caption="FirstDayInGovernmentService" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    @*<DxGridDataColumn FilterRowEditorVisible="false" FieldName="OfficeAssign" Visible="false" Caption="OfficeAssign" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>*@
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="YearsInGovernmentService" Visible="false" Caption="YearsInGovernmentService" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="LastPromotionDate" Visible="false" Caption="LastPromotionDate" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="YearsInCurrentPosition" Visible="false" Caption="YearsInCurrentPosition" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="HighestEducationalAttainment" Visible="false" Caption="HighestEducationalAttainment" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="Honors" Visible="false" Caption="Honors" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="Municipality" Visible="false" Caption="Municipality" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                    <DxGridDataColumn FilterRowEditorVisible="true" FieldName="Barangay" Visible="false" Caption="Barangay" TextAlignment="GridTextAlignment.Center">
                    </DxGridDataColumn>
                </Columns>
            </DxGrid>
        </div>
    </div>
</AuthorizeView>

@code {
    object Data { get; set; }

    IGrid? MyGrid { get; set; }
    GridDevExtremeDataSource<EmployeeMasterListView> gridDevExtremeDataSource;
    AccordionExpandMode ExpandMode { get; set; } = AccordionExpandMode.SingleOrNone;
    AccordionExpandCollapseAction ExpandCollapseAction { get; set; } = AccordionExpandCollapseAction.HeaderClick;

    List<string> status = new List<string> { "Permanent", "Job Order", "Elected", "Appointed" };

    record genderList(CriteriaOperator Criteria, string DisplayText)
    {
        public genderList(string CriteriaText, string DisplayText)
        : this(CriteriaOperator.Parse(CriteriaText), DisplayText)
        {
        }
    }
        List<string> genders = new List<string> {
        new("Male"),
        new("Female"),
    };

    EmployeeMasterListFilterView employees = new EmployeeMasterListFilterView();

    bool IsOpen { get; set; } = false;
    bool IsMobile { get; set; }

    // DateTime defaultBdayRangeStart = DateTime.Parse("1900-01-01 00:00:00");

    protected override async Task OnInitializedAsync()
    {
        await UpdateAsync();

        gridDevExtremeDataSource = new GridDevExtremeDataSource<EmployeeMasterListView>(await service.All(employees));
        gridDevExtremeDataSource.CustomizeLoadOptions = (loadOptions) =>
        {
            // If underlying data is a large SQL table, specify PrimaryKey and PaginateViaPrimaryKey.
            // This can make SQL execution plans more efficient.
            loadOptions.PrimaryKey = new[] { "EmployeeId" };
            loadOptions.PaginateViaPrimaryKey = true;

        };

        Data = gridDevExtremeDataSource;
    }

    async Task UpdateAsync()
    {
        //employees.BdayRangeStart =
        gridDevExtremeDataSource = new GridDevExtremeDataSource<EmployeeMasterListView>(await service.All(employees));
        Data = gridDevExtremeDataSource;
        MyGrid.Reload();
        StateHasChanged();
    }

    void OnClickColumnChooser()
    {
        MyGrid.ShowColumnChooser(".column-chooser-button");
    }

    async Task Filter()
    {
        UpdateAsync();

    }
}
